<div class="container">
  <h2 class="mt-4">User Settings</h2>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <label for="name">Name</label>
      <div
        [hidden]="!form.submitted || nameField.valid"
        class="alert alert-danger"
      >
        Enter a name
      </div>
      <input
        id="name"
        name="name"
        type="text"
        class="form-control"
        placeholder="Your Name"
        [(ngModel)]="userSettings.name"
        #nameField="ngModel"
        required
        [class.field-error]="form.submitted && nameField.invalid"
        (blur)="onBlur(nameField)"
      />
    </div>

    <div class="form-group">
      <label for="startDate">Start Date</label>
      <input
        id="startDate"
        name="startDate"
        type="text"
        placeholder="Datepicker"
        class="form-control"
        [(ngModel)]="userSettings.startDate"
        bsDatepicker
        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
        [style.width.px]="110"
      />
    </div>

    <div class="form-check form-group pl-0">
      <label for="emailOffers" class="form-check-label"
        >Email Special Offers?</label
      >
      <button
        id="emailOffers"
        type="button"
        class="btn btn-success ml-2"
        name="emailOffers"
        [(ngModel)]="userSettings.emailOffers"
        btnCheckbox
      >
        {{ userSettings.emailOffers ? "Let's Go!" : "No-no-no" }}
      </button>
    </div>

    <div class="form-group">
      <p>User Interface Style</p>
      <div class="btn-group">
        <label
          class="btn btn-light"
          name="interfaceStyle"
          [(ngModel)]="userSettings.interfaceStyle"
          btnRadio="light"
          tabindex="0"
          role="button"
          >Light</label
        >
        <label
          class="btn btn-info"
          name="interfaceStyle"
          [(ngModel)]="userSettings.interfaceStyle"
          btnRadio="medium"
          tabindex="0"
          role="button"
          >Medium</label
        >
        <label
          class="btn btn-dark"
          name="interfaceStyle"
          [(ngModel)]="userSettings.interfaceStyle"
          btnRadio="dark"
          tabindex="0"
          role="button"
          >Dark</label
        >
      </div>
    </div>

    <div class="form-group">
      <label for="subscriptionType">Subscription Type</label>
      <select
        name="subscriptionType"
        id="subscriptionType"
        class="form-control"
        [(ngModel)]="userSettings.subscriptionType"
      >
        <option *ngFor="let type of subscriptionTypes | async" [value]="type">
          {{ type }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="notes">Notes</label>
      <textarea
        name="notes"
        id="notes"
        class="form-control"
        rows="3"
        [(ngModel)]="userSettings.notes"
      ></textarea>
    </div>

    <button class="btn btn-primary">Ok</button>
  </form>
  <div [hidden]="!postError" class="alert alert-danger mt-4">
    {{ postErrorMessage }}
  </div>
</div>
