<div class="container">
  <h2 class="mt-4">User Settings</h2>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <label for="name">Name</label>
      <div
        [hidden]="!form.submitted || nameField.valid"
        class="alert alert-danger"
      >
        Enter a name
      </div>
      <input
        id="name"
        name="name"
        type="text"
        class="form-control"
        placeholder="Your Name"
        [(ngModel)]="userSettings.name"
        #nameField="ngModel"
        required
        [class.field-error]="form.submitted && nameField.invalid"
        (blur)="onBlur(nameField)"
      />
    </div>

    <div class="form-check form-group">
      <input
        id="emailOffers"
        name="emailOffers"
        type="checkbox"
        class="form-check-input"
        [(ngModel)]="userSettings.emailOffers"
      />
      <label for="emailOffers" class="form-check-label"
        >Email Special Offers</label
      >
    </div>

    <div class="form-group">
      <p>User Interface Style</p>
      <div class="form-check">
        <input
          id="lightInterface"
          name="interfaceStyle"
          type="radio"
          class="form-check-input"
          value="light"
          [(ngModel)]="userSettings.interfaceStyle"
        />
        <label for="lightInterface" class="form-check-label">Light</label>
      </div>
      <div class="form-check">
        <input
          id="mediumInterface"
          name="interfaceStyle"
          type="radio"
          class="form-check-input"
          value="medium"
          [(ngModel)]="userSettings.interfaceStyle"
        />
        <label for="mediumInterface" class="form-check-label">Medium</label>
      </div>
      <div class="form-check">
        <input
          id="darkInterface"
          name="interfaceStyle"
          type="radio"
          class="form-check-input"
          value="dark"
          [(ngModel)]="userSettings.interfaceStyle"
        />
        <label for="darkInterface" class="form-check-label">Dark</label>
      </div>
    </div>

    <div class="form-group">
      <label for="subscriptionType">Subscription Type</label>
      <select
        name="subscriptionType"
        id="subscriptionType"
        class="form-control"
        [(ngModel)]="userSettings.subscriptionType"
      >
        <option *ngFor="let type of subscriptionTypes | async" [value]="type">
          {{ type }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="notes">Notes</label>
      <textarea
        name="notes"
        id="notes"
        class="form-control"
        rows="3"
        [(ngModel)]="userSettings.notes"
      ></textarea>
    </div>

    <button class="btn btn-primary">Ok</button>
  </form>
  <div [hidden]="!postError" class="alert alert-danger mt-4">
    {{ postErrorMessage }}
  </div>
</div>
